$colour_FFFFFF:#FFFFFF;  $colour_FFFFF0:#FFFFF0;  $colour_FFFFE0:#FFFFE0;  $colour_FFFF00:#FFFF00;
$colour_FFFAFA:#FFFAFA;  $colour_FFFAF0:#FFFAF0;  $colour_FFFACD:#FFFACD;  $colour_FFF8DC:#FFF8DC;
$colour_FFF68F:#FFF68F;  $colour_FFF5EE:#FFF5EE;  $colour_FFF0F5:#FFF0F5;  $colour_FFEFDB:#FFEFDB;
$colour_FFEFD5:#FFEFD5;  $colour_FFEC8B:#FFEC8B;  $colour_FFEBCD:#FFEBCD;  $colour_FFE7BA:#FFE7BA;
$colour_FFE4E1:#FFE4E1;  $colour_FFE4C4:#FFE4C4;  $colour_FFE4B5:#FFE4B5;  $colour_FFE1FF:#FFE1FF;
$colour_FFDEAD:#FFDEAD;  $colour_FFDAB9:#FFDAB9;  $colour_FFD700:#FFD700;  $colour_FFD39B:#FFD39B;
$colour_FFC1C1:#FFC1C1;  $colour_FFC125:#FFC125;  $colour_FFC0CB:#FFC0CB;  $colour_FFBBFF:#FFBBFF;
$colour_FFB90F:#FFB90F;  $colour_FFB6C1:#FFB6C1;  $colour_FFB5C5:#FFB5C5;  $colour_FFAEB9:#FFAEB9;
$colour_FFA54F:#FFA54F;  $colour_FFA500:#FFA500;  $colour_FFA07A:#FFA07A;  $colour_FF8C69:#FF8C69;
$colour_FF8C00:#FF8C00;  $colour_FF83FA:#FF83FA;  $colour_FF82AB:#FF82AB;  $colour_FF8247:#FF8247;
$colour_FF7F50:#FF7F50;  $colour_FF7F24:#FF7F24;  $colour_FF7F00:#FF7F00;  $colour_FF7256:#FF7256;
$colour_FF6EB4:#FF6EB4;  $colour_FF6A6A:#FF6A6A;  $colour_FF69B4:#FF69B4;  $colour_FF6347:#FF6347;
$colour_FF4500:#FF4500;  $colour_FF4040:#FF4040;  $colour_FF3E96:#FF3E96;  $colour_FF34B3:#FF34B3;
$colour_FF3030:#FF3030;  $colour_FF1493:#FF1493;  $colour_FF00FF:#FF00FF;  $colour_FF0000:#FF0000;
$colour_FDF5E6:#FDF5E6;  $colour_FCFCFC:#FCFCFC;  $colour_FAFAFA:#FAFAFA;  $colour_FAFAD2:#FAFAD2;
$colour_FAF0E6:#FAF0E6;  $colour_FAEBD7:#FAEBD7;  $colour_FA8072:#FA8072;  $colour_F8F8FF:#F8F8FF;
$colour_F7F7F7:#F7F7F7;  $colour_F5FFFA:#F5FFFA;  $colour_F5F5F5:#F5F5F5;  $colour_F5F5DC:#F5F5DC;
$colour_F5DEB3:#F5DEB3;  $colour_F4F4F4:#F4F4F4;  $colour_F4A460:#F4A460;  $colour_F2F2F2:#F2F2F2;
$colour_F0FFFF:#F0FFFF;  $colour_F0FFF0:#F0FFF0;  $colour_F0F8FF:#F0F8FF;  $colour_F0F0F0:#F0F0F0;
$colour_F0E68C:#F0E68C;  $colour_F08080:#F08080;


$colour_EEEEE0:#EEEEE0;  $colour_EEEED1:#EEEED1;
$colour_EEEE00:#EEEE00;  $colour_EEE9E9:#EEE9E9;  $colour_EEE9BF:#EEE9BF;  $colour_EEE8CD:#EEE8CD;
$colour_EEE8AA:#EEE8AA;  $colour_EEE685:#EEE685;  $colour_EEE5DE:#EEE5DE;  $colour_EEE0E5:#EEE0E5;
$colour_EEDFCC:#EEDFCC;  $colour_EEDC82:#EEDC82;  $colour_EED8AE:#EED8AE;  $colour_EED5D2:#EED5D2;
$colour_EED5B7:#EED5B7;  $colour_EED2EE:#EED2EE;  $colour_EECFA1:#EECFA1;  $colour_EECBAD:#EECBAD;
$colour_EEC900:#EEC900;  $colour_EEC591:#EEC591;  $colour_EEB4B4:#EEB4B4;  $colour_EEB422:#EEB422;
$colour_EEAEEE:#EEAEEE;  $colour_EEAD0E:#EEAD0E;  $colour_EEA9B8:#EEA9B8;  $colour_EEA2AD:#EEA2AD;
$colour_EE9A49:#EE9A49;  $colour_EE9A00:#EE9A00;  $colour_EE9572:#EE9572;  $colour_EE82EE:#EE82EE;
$colour_EE8262:#EE8262;  $colour_EE7AE9:#EE7AE9;  $colour_EE799F:#EE799F;  $colour_EE7942:#EE7942;
$colour_EE7621:#EE7621;  $colour_EE7600:#EE7600;  $colour_EE6AA7:#EE6AA7;  $colour_EE6A50:#EE6A50;
$colour_EE6363:#EE6363;  $colour_EE5C42:#EE5C42;  $colour_EE4000:#EE4000;  $colour_EE3B3B:#EE3B3B;
$colour_EE3A8C:#EE3A8C;  $colour_EE30A7:#EE30A7;  $colour_EE2C2C:#EE2C2C;  $colour_EE1289:#EE1289;
$colour_EE00EE:#EE00EE;  $colour_EE0000:#EE0000;  $colour_EDEDED:#EDEDED;  $colour_EBEBEB:#EBEBEB;
$colour_EAEAEA:#EAEAEA;  $colour_E9967A:#E9967A;  $colour_E8E8E8:#E8E8E8;  $colour_E6E6FA:#E6E6FA;
$colour_E5E5E5:#E5E5E5;  $colour_E3E3E3:#E3E3E3;  $colour_E0FFFF:#E0FFFF;  $colour_E0EEEE:#E0EEEE;
$colour_E0EEE0:#E0EEE0;  $colour_E0E0E0:#E0E0E0;  $colour_E066FF:#E066FF;

$colour_DEDEDE:#DEDEDE;
$colour_DEB887:#DEB887;  $colour_DDA0DD:#DDA0DD;  $colour_DCDCDC:#DCDCDC;  $colour_DC143C:#DC143C;
$colour_DBDBDB:#DBDBDB;  $colour_DB7093:#DB7093;  $colour_DAA520:#DAA520;  $colour_DA70D6:#DA70D6;
$colour_D9D9D9:#D9D9D9;  $colour_D8BFD8:#D8BFD8;  $colour_D6D6D6:#D6D6D6;  $colour_D4D4D4:#D4D4D4;
$colour_D3D3D3:#D3D3D3;  $colour_D2B48C:#D2B48C;  $colour_D2691E:#D2691E;  $colour_D1EEEE:#D1EEEE;
$colour_D1D1D1:#D1D1D1;  $colour_D15FEE:#D15FEE;  $colour_D02090:#D02090;

$colour_CFCFCF:#CFCFCF;
$colour_CDCDC1:#CDCDC1;  $colour_CDCDB4:#CDCDB4;  $colour_CDCD00:#CDCD00;  $colour_CDC9C9:#CDC9C9;
$colour_CDC9A5:#CDC9A5;  $colour_CDC8B1:#CDC8B1;  $colour_CDC673:#CDC673;  $colour_CDC5BF:#CDC5BF;
$colour_CDC1C5:#CDC1C5;  $colour_CDC0B0:#CDC0B0;  $colour_CDBE70:#CDBE70;  $colour_CDBA96:#CDBA96;
$colour_CDB7B5:#CDB7B5;  $colour_CDB79E:#CDB79E;  $colour_CDB5CD:#CDB5CD;  $colour_CDB38B:#CDB38B;
$colour_CDAF95:#CDAF95;  $colour_CDAD00:#CDAD00;  $colour_CDAA7D:#CDAA7D;  $colour_CD9B9B:#CD9B9B;
$colour_CD9B1D:#CD9B1D;  $colour_CD96CD:#CD96CD;  $colour_CD950C:#CD950C;  $colour_CD919E:#CD919E;
$colour_CD8C95:#CD8C95;  $colour_CD853F:#CD853F;  $colour_CD8500:#CD8500;  $colour_CD8162:#CD8162;
$colour_CD7054:#CD7054;  $colour_CD69C9:#CD69C9;  $colour_CD6889:#CD6889;  $colour_CD6839:#CD6839;
$colour_CD661D:#CD661D;  $colour_CD6600:#CD6600;  $colour_CD6090:#CD6090;  $colour_CD5C5C:#CD5C5C;
$colour_CD5B45:#CD5B45;  $colour_CD5555:#CD5555;  $colour_CD4F39:#CD4F39;  $colour_CD3700:#CD3700;
$colour_CD3333:#CD3333;  $colour_CD3278:#CD3278;  $colour_CD2990:#CD2990;  $colour_CD2626:#CD2626;
$colour_CD1076:#CD1076;  $colour_CD00CD:#CD00CD;  $colour_CD0000:#CD0000;  $colour_CCCCCC:#CCCCCC;
$colour_CAFF70:#CAFF70;  $colour_CAE1FF:#CAE1FF;  $colour_C9C9C9:#C9C9C9;  $colour_C7C7C7:#C7C7C7;
$colour_C71585:#C71585;  $colour_C6E2FF:#C6E2FF;  $colour_C67171:#C67171;  $colour_C5C1AA:#C5C1AA;
$colour_C4C4C4:#C4C4C4;  $colour_C2C2C2:#C2C2C2;  $colour_C1FFC1:#C1FFC1;  $colour_C1CDCD:#C1CDCD;
$colour_C1CDC1:#C1CDC1;  $colour_C1C1C1:#C1C1C1;  $colour_C0FF3E:#C0FF3E;






//字体颜色和背景色
@mixin colour($color:white, $background:rgba(#ffffff,0)) {  //使用:@include colour(字体颜色,背景色);
  color:$color;
  background: $background;
}


//字体颜色循环
@each $key in (
        C1CDC1,
        C1C1C1,
        C0FF3E) {
  .colour_#{$key} {
    //color:#{'#'}$key;
    color:#{'#'}$key;
  }
}

//背景色循环
@each $key in (
        C1CDC1,
        C1C1C1,
        C0FF3E) {
  .background_#{$key} {
    background:#{'#'}$key;
  }
}